body{
  background-color: #d8e8ff;
}
.profile-title {
  font-size: 22px
}
#profile-pic{
  width: 300px;
  border-radius: 60%;
}

#youtube {
  width: 560px;
  height: 315px;
}

#gmap {
  width: 560px;
  height: 315px;
  background: blue;
  border:0;
}
.contentbox{
  border-style: solid;
  background-color: #ffffff;
  border-width: 1px;
  margin-top: 16px;
  /*padding-left: 24px;*/
  width: 700px;
  position: relative;
  left: 70px;
  border-radius: 8px;
}
.contenttrick{
  height: 100px;
}
.cover{
  background-color: blue;
  height: 200px;
  padding: 0;
}
.contentprofile{
  position: relative;
  top: -200px;
}
.center-it{
  text-align: center;
}
