body {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-image:url("https://www.walldevil.com/wallpapers/w07/simple-simple-background-hd-background.jpg");
}
h1 {
  color: white;
  font-family: sans-serif;
}

.description{
    margin:0;
    color: white;
}
table.contentbox{
   border-spacing: 10px 0;
}
#youtube {
  width: 560px;
  height: 315px;
}

#gmap {
  width: 560px;
  height: 315px;
  background: blue;
  border:0;
}

#content{
  text-decoration-color: white;
}

#photobox{
  height: 250px;
  width: 100%;
  background-color: rgba(0,0,0,  0.6);
  margin-top: 10px;
  margin-bottom: 10px;
}

#photobox .photocontent {
  height: 200px;
  max-height: 250px;
  background-color: red;
  margin-left: 10px;
  margin-top: 25px;
}
