body{
  background-color: #f5f5f5
}
.box-it{
  margin: 12px;
  background-color: red;
  background-color: #ffffff;
  border-width: 0.5px;
  border-color: #fbe9e9;
  border-radius: 3px;
  border-style: solid;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.07);
}

.cover-photo{
  height: 150px;
  background-color: white;
}

.profile-picture{
  height: 150px;
  position: relative;
  margin: -75px auto 0px auto;
  border-radius: 60%;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.friend-picture{
  width: 70px;
  position: relative;
  border-radius: 60%;
}
.friend {
  padding-top: 5px;
}

.friends-box {
  position: fixed;
  width: auto;
}
.padding-0px{
  padding: 0px
}
.margin-12px{
  margin: 12px
}
.center-it{
  text-align: center;
}
